.header{
    width: 1280px;
    position: fixed;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#99e864; 
    text-align: center;
    color: #62dbfd;
  background-image: url(;
 background-size: 100% 100%;
 overflow-x: hidden; 
    margin: 0;
    padding: 0;
}



h1 {
    color: #4b34fc;
    font-size: large;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color:rgb(255, 60, 138);
}


* {
    box-sizing: border-box; 
    max-width: 100%; 
    overflow-x: hidden; 
    overflow-y: auto;
}

.content-box {
    background-color: #4ec9f5 /* Contoh warna biru */
    border: 3px solid #ff69b4; /* Border solid pink */
    padding: 20px;
    margin-bottom: 20px; /* Menambahkan jarak bawah kotak */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
}


p {
    font-size: 20px;
    color: #4b34fc;
    margin-bottom: 20px;
    background-color: rgb(253, 255, 119);

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    overflow: hidden;
    background-color: #4ec9f5; 
    text-align: justify;
    display:flex;

}

li {
    float: left;
    text-align: left;
    margin: 0px 90px;
}

li a.dropbtn {
    display: flex;
    color: rgb(50, 35, 99); 
    height: fit-content;
    width: fit-content;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    border: #4b34fc;
    padding: 0;
    margin: 0;
}

li img{
    width: fit-content;
    height: fit-content;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: beige;
    text-align: center;
}


li.dropdown {
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff45b; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #e39ca7; 
    z-index: 1;
}

.dropdown-content a {
    color: rgb(50, 35, 99); 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #2303d8; 
}

.dropdown:hover .dropdown-content {
    display: block; 
}


.dropdown-content a:hover {
    background-color: #acff93; 
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.main-image {
    width: 30%; /* Atur lebar gambar agar menyesuaikan lebar kontainer */
    height: auto; /* Mengatur tinggi secara otomatis agar proporsional */
    border: 2px solid #b1d0e9; 
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.main-image:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
}



main {
    flex: 1; /* Konten utama mengisi ruang yang tersisa */
    overflow: auto; /* Scroll hanya pada bagian konten utama jika terlalu panjang */
}

footer {
    background: #f8f8f8; /* Warna background footer */
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

    footer img {
        max-width: 100%;
        max-height: 100px; 
    }